.navbar-main{
  background-color: var(--secondary);
  padding: 20px;
  margin: 10px;
  border: 4px solid var(--primary);
  border-radius: 50px;
  width: 800px;
}

.navbar-left{
  float: left;
}

.navbar-right{
  float: right;
}

.navbar-block{
  display: inline;
  padding: 10px;
  width: auto;
  height: 25px;
  background-color: var(--regular);
  color: var(--primary);
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--primary);
  border-radius: 25px;
}
