<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  {% include "components/fonts.html" %}
  <title>OnlyPosts</title>
</head>
<body class="body-main">
  <div class="body-container">
    {% include "components/title.html" %}
    {% include "components/navbar.html" %}

    <div class="block-content">
      {% block content %}
        No content
      {% endblock %}
    </div>
  </div>
</body>
</html>
